# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
.conda/
.micromamba/

# Generated data/results
results/
data/raw/
*.xdmf
*.h5
*.vtu
*.pvd
*.vtk

# OS files
.DS_Store
Thumbs.db
